@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@inject AuthService authService
<button class="btn btn-danger" @onclick="userLogout">Logout</button>

@code {
    private async Task userLogout()
    {
        if(authService != null)
        {
            await authService.LogoutAsync();
        }

        Navigation.NavigateTo("/login", true);
    }
}
