@page "/login"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using ignivault.Data
@using ignivault.Data.Models.Auth
@using ignivault.Services
@inject HttpClient Http
@inject IJSRuntime JS
@inject VaultService VaultService
@inject NavigationManager NavManager

<head>
    <script src="js/Crypt.js"></script>
</head>
<div class="flex items-center justify-center min-h-screen bg-gradient-to-br from-blue-50 to-blue-100">
    <div class="bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-2">Ignivault Login</h2>
        <p class="text-center text-gray-500 mb-8">Please login to continue</p>

        <!-- Login Form -->
        <SfDataForm ID="forgot-form" Model="@login_data" OnValidSubmit="@HandleValidSubmit">
            <FormValidator>
                <DataAnnotationsValidator></DataAnnotationsValidator>
            </FormValidator>
            <FormItems>
                <FormAutoGenerateItems></FormAutoGenerateItems>
            </FormItems>
            <FormButtons>
                <SfButton type="submit" CssClass="e-primary">
                    Sign In
                </SfButton>
                <SfButton type="button" CssClass="e-secondary" OnClick="@ToggleForgotPasswordDialog">
                    Reset
                </SfButton>
            </FormButtons>
        </SfDataForm>

        @if (ForgotPasswordDialogVisible)
        {
            <ForgotLoginDialog/>
        }

        <!-- Sign Up -->
        <p class="text-center text-gray-600 text-sm mt-6">
            <a href="">Don’t have an account?</a>
        </p>

        @if(showSuccess)
        {
            <SfMessage Severity=MessageSeverity.Success ShowCloseIcon="true">Registration Successful! Please login.</SfMessage>
        }
        else if (loginFailed)
        {
            <SfMessage Severity=MessageSeverity.Error ShowCloseIcon="true">Login failed. Please check your credentials and try again.</SfMessage>
        }

    </div>
</div>

@code {
    private LoginUserModel login_data = new();
    private bool ForgotPasswordDialogVisible { get; set; } = false;
    private bool loginFailed = false;

    private void ToggleForgotPasswordDialog()
    {
        ForgotPasswordDialogVisible = !ForgotPasswordDialogVisible;
    }

    private bool showSuccess;

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (query["signedup"] == "true")
        {
            showSuccess = true;
        }
    }

    private async void HandleValidSubmit(EditContext context)
    {
        try
        {
            var response = await Http.PostAsJsonAsync("https://localhost:7158/api/Authentication/login", login_data);
            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<LoginResponse>();
                var token = result.Token;

                var encMasterKey = (result.MasterKey);
                var keySalt = (result.keySalt);
                var masterKeyIV = (result.MasterIV);

                await JS.InvokeVoidAsync("localStorage.setItem", "authToken", token);

                string b64_masterkey = await JS.InvokeAsync<string>("Crypt.decryptMasterKeyBase64", encMasterKey, login_data.Password, keySalt, masterKeyIV);
                byte[] masterKey = Convert.FromBase64String(b64_masterkey);

                VaultService.SetMasterKey(masterKey);
                //UI
            }
            else
            {
                loginFailed = true;
            }
        }
        catch (Exception ex)
        {
           
        }
    }
}
