@page "/signup"
@using ignivault.Core.Interface
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IHttpService HttpService
<div class="flex items-center justify-center min-h-screen bg-gradient-to-br from-blue-50 to-blue-100">
    <div class="bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-2">Ignivault Signup</h2>
        <p class="text-center text-gray-500 mb-8">Sign-Up to be able to login.</p>

<SfDataForm ID="forgot-form" Model="@registration" OnValidSubmit="@HandleValidSubmit">
            <FormValidator>
                <DataAnnotationsValidator></DataAnnotationsValidator>
            </FormValidator>
            <FormItems>
                <FormAutoGenerateItems></FormAutoGenerateItems>
            </FormItems>
            <FormButtons>
                <SfButton type="submit" CssClass="e-primary">
                    Sign-Up
                </SfButton>
            </FormButtons>
</SfDataForm>

        @if(showMessage)
        {
            if (registrationStatus)
            {
                <SfMessage Severity=MessageSeverity.Success ShowCloseIcon="true">@RegistrationStatusMessage</SfMessage>
            }
            else
            {
                <SfMessage Severity=MessageSeverity.Error ShowCloseIcon="true">@RegistrationStatusMessage</SfMessage>
            }
        }
</div>
</div>



@code {
    private RegistrationModel registration = new RegistrationModel();

    private bool registrationStatus = false;
    private bool showMessage = false;
    public string RegistrationStatusMessage { get; set; } = string.Empty;

    private async Task ShowMessage()
    {
        showMessage = true;
        StateHasChanged();

        await Task.Delay(10000);
        showMessage = false;
        StateHasChanged();
    }


    private async void HandleValidSubmit(EditContext context)
    {
        try
        {
            var response = await HttpService.RegisterAsync(registration); //Http.PostAsJsonAsync("https://localhost:7158/api/Authentication/register", registration);

            if (response.Success)
            {
                NavManager.NavigateTo("/login?signedup=true");
            }
            else 
            {
                RegistrationStatusMessage = $"Registration failed: {response.Message}";
            }
            
            await ShowMessage();
        }
        catch (Exception ex)
        {
            
        }
    }
}