@using System.Collections.ObjectModel
@using ignivault.Data.Models.Data

@inject VaultService VaultService
@inject AccountService AccountService

@if (_loginDetail != null)
{
    <SfDialog Visible="false" AllowDragging="true" @ref="_dialog" Width="400px" ShowCloseIcon="true">
        <DialogTemplates>
            <Content>
                <label class="text-lg font-bold mb-4">Login Details</label>
                <SfDataForm ID="ViewEditLoginItemForm" Model="_loginDetail" ColumnSpacing="20px">
                    <FormValidator>
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                    </FormValidator>
                    <FormItems>
                        <FormAutoGenerateItems></FormAutoGenerateItems>
                    </FormItems>
                    <FormButtons>
                        <SfButton CssClass="e-outline" OnClick="Cancel">Cancel</SfButton>
                        <SfButton IsPrimary="true" OnClick="SaveItem">Save Entry</SfButton>
                    </FormButtons>
                </SfDataForm>
            </Content>
        </DialogTemplates>
    </SfDialog>
}

@code {
    private VaultItem _VaultItem { get; set; }

    [Parameter]
    public EventCallback<VaultItem> OnItemUpdated { get; set; }

    private RecordTypes.LoginDetail _loginDetail;

    private SfDialog _dialog;

    public async Task SetVaultItem(VaultItem item)
    {
        _VaultItem = item;
        if(_VaultItem != null)
        {
            _loginDetail = await VaultService.DecryptRecordType<RecordTypes.LoginDetail>(_VaultItem);
        }
        StateHasChanged();
    }

    public async Task ShowAsync()
    {
        await _dialog.ShowAsync();
    }

    public async Task HideAsync()
    {
        await _dialog.HideAsync();
    }

    private async Task SaveItem()
    {
        await HideAsync();
    }

    private async Task Cancel()
    {
        await HideAsync();
    }
}